<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favorite_number.user_id %>
</p>

<p>
  <strong>Num1:</strong>
  <%= @favorite_number.num1 %>
</p>

<p>
  <strong>Num2:</strong>
  <%= @favorite_number.num2 %>
</p>

<p>
  <strong>Num3:</strong>
  <%= @favorite_number.num3 %>
</p>

<p>
  <strong>Num4:</strong>
  <%= @favorite_number.num4 %>
</p>

<p>
  <strong>Num5:</strong>
  <%= @favorite_number.num5 %>
</p>

<p>
  <strong>Num6:</strong>
  <%= @favorite_number.num6 %>
</p>

<p>
  <strong>Num7:</strong>
  <%= @favorite_number.num7 %>
</p>

<%= link_to 'Edit', edit_favorite_number_path(@favorite_number) %> |
<%= link_to 'Back', favorite_numbers_path %>
