<p id="notice"><%= notice %></p>

<p>
  <strong>Käyttäjätunnus:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Salasana:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Sähköposti:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Muokkaa', edit_user_path(@user) %> |
<%= link_to 'Takaisin', users_path %>
